/* Code for css */
/* this tags directly the element so it would be all h1 */
h1 {
    color: red;
}

/* this is an ID. this can be only given ONCE */
/* gotta use "#" */
#title {
    color: aqua;
}

/* this is a class so anything with First will be selected */
/* gotta use the "." */
.First {
    color: antiquewhite;
}
/* example 2: */
.Second {
    color: green; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* here u can give two delarations if u use a comma between */
.First, .Second {
    font-size: 20px; 
}

/* u can chain them n uses specifc parts of the class when it has a space */
.subsection.header {
    color: red;
}

/* same with ID */
.subsection#text {
    color: blue;
}

/* there is something called descendant combinator so basically nesting
in the elements. there are four types of combinators.*/

.family .mom { /* this gonna make everything under mom
                that color */
    font-size: 20px;
    color: blueviolet;
}

.family .mom .child { /* so this gonna get ignored */
    color: aquamarine;
}

.family .dad .stepson{
    font-size: 50px;
}

.random {
    /* hex color */
    color: #1100ff;
    /* rgb color */
    color: rgb(100, 0, 127);
    /* blackground color */
    background-color: aqua;
    /* font-family */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size */
    font-size: 20px;
    /* font-weight */
    font-weight: 200;
    /* text alignment in the page */
    text-align: center;
}

.dog {
    /* usually the img is default */
    height: auto;
    width: 500px;
}